@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hero-section">
    <h1>Bienvenido a Multiservicios Melgar</h1>
    <p>Tu mejor opción en repuestos y servicios automotrices.</p>
</div>

<div class="features">
    <div class="feature">
        <h2>Inventario</h2>
        <p>Gestiona tu inventario de manera eficiente.</p>
    </div>
    <div class="feature">
        <h2>Historial</h2>
        <p>Consulta el historial de transacciones y pedidos.</p>
    </div>
</div>




<@* div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
